*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    height: 0;

}
#goHomeButton
{
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    position: fixed;
    display: none;
    outline: 0;
    border: none;
    background-color: transparent;
}
#goHomeButton i
{
    padding: 0.4rem 0.7rem;
    font-size: 2rem;
    color: orangered;
    transition: 0.5s;
    cursor: pointer;
}
#goHomeButton i:hover
{
    transform: rotate(360deg);
    font-size: 3rem;
}
#nav h1
{
    color: #FFC436;
    line-height: 4rem;
    font-family: Perpetua;
    padding-left: 2rem;
    letter-spacing: 0.2rem;
}
nav
{
    z-index: 1;
    height: 4rem;
    width: 100%;
    background-color: #171717;
    display: flex;
    position: sticky;
    top: 0;
    transition: 0.7s;
}
#hambugger
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 10;
    top: 20;
    cursor: pointer;
    display: none;
}
#cross
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 10;
    top: 20;
    cursor: pointer;
    display: none;
}
nav ul
{
    margin: auto;
    line-height: 4rem;
}
nav ul li
{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-left: 3rem;
}
ul li a
{
    text-decoration: none;
    color: whitesmoke;
    font-family: Perpetua;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}
ul li a::before
{
    transition: 300ms;
    content: "";
    height: 0.2rem; 
    bottom: -2;
    width: 0%;  
    position: absolute; 
    background-color: tomato;
    position: absolute;
}
ul li a:hover::before {
    width: 100%;
}

#container
{
    height: 100%;
    width: 100%;
    background-color: black;
    /* background-image: url(https://wallpapercave.com/dwp1x/wp7019509.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Home
{
    height: 100vh;
    width: 100%;
    /* background-color: violet; */
    position: relative;
}
#imageSlider1
{
    animation: comeRight 0.5s ease-in;
}
#imageSlider2
{
    animation: comeLeft 0.5s ease-in;
}
@keyframes comeRight
{
    0% {
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes comeLeft
{
    0% {
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
#HomeImageContent
{
    height: 80%;
    width: 80%;
    /* background-color: yellowgreen; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
}
#HomeImageContent h2
{
    color: whitesmoke;
    font-size: 2rem;
    font-family: Garamond;   
    letter-spacing: 0.5rem; 
    animation: fade-left 0.5s ease-in;
    margin-top: 15%;
}
@keyframes fade-left 
{
    0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}
#HomeImageContent h1
{
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: Garamond;   
    margin-top: 2rem;
}
#HomeImageContent button
{
    margin-top: 5rem;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: orangered;
    outline: 0;
    border: none;
    color: whitesmoke;
    font-family: garamond;
    letter-spacing: 0.1rem;
    font-weight: 900;
}
#HomeImageContent button:hover
{
    transition: 0.5s ease-in-out;
    background-color: antiquewhite;
    color: orangered;
}
#btnRight,#btnLeft
{
    position: absolute;
    bottom: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background: transparent;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    color: whitesmoke;
    border: 2px solid gray;
}
#btnRight
{
    right: 2.5rem;
}
#btnLeft
{
    left: 2.5rem;
} 
#btnRight:hover,#btnLeft:hover
{
    transition: 0.5s;
    color: #90A17D;
}

#About
{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}
#aboutSection
{
    position: absolute;
    height: 80%;
    width: 85%;
    /* background-color: black; */
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
#about1
{
    height: 100%;
    width: 65%;
    /* background-color: goldenrod; */
    position: relative;
}
#about1 section
{
    height: 70%;
    width: 85%;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 2rem;
}
#about1 section h2
{
    color: orangered;
    font-family: MV Boli;
    font-size: 1.3rem;
}
#about1 section h1
{
    font-size: 2rem;
    font-family: Verdana;
    margin-top: 1%;
}
#about1 section p
{
    padding-right: 7rem;
    padding-top: 2rem;
    color: grey;
}
#about2
{
    height: 100%;
    width: 35%;
    background-color: violet;
    background-image: url(https://wallpapercave.com/dwp1x/wp9326407.jpg);
    background-position: center;
    background-size: cover;
}
#about3
{
    position: absolute;
    height: 60%;
    width: 30%;
    background-color: tomato;
    right: 20%;
    margin: auto;
    top: 0;
    bottom: 0;
}

#Addvertisement
{
    height: 40vh;
    width: 100%;
    position: relative;
}
#Addvertisement div
{
    height: 55%;
    width: 70%;
    margin: auto;
    /* background-color: powderblue; */
    position: absolute;
    bottom:0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#Addvertisement div h1
{
    color: whitesmoke;font-size:2.5rem;font-family:garamond;margin-top:0.7rem;
}
#Addvertisement div h2
{
    color: orangered;font-family: MV Boli;
}
#Addvertisement div h3
{
    color: white;letter-spacing:2px;margin-top:1rem;
}

#Menu
{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}
#Menu img
{
    position: absolute;
    right: 0;
    height: 15rem;
}
#menuContainer
{
    height: 150vh;
    width: 100%;
    /* background-color: yellowgreen; */
}
#menuNameCard
{
    height: 50vh;
    width: 100%;
    /* background-color: #FFC436; */
    text-align: center;
}
#menuNameHeading
{
    height: 80%;
    width: 65%;
    /* background-color: violet; */
    margin: auto;
    padding-top: 4rem;
}
#menuNameHeading h1
{
    color: #222222;
    font-size: 2rem;
    font-family: garamond;
    margin-top: 0.5rem;
}
#menuNameHeading h2
{
    color: orangered;
    font-size: 1.5rem;
    font-family: MV Boli;
}
#menuNameHeading span button
{
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    margin-right: 1rem;
    font-weight: 500;
    outline: 0;
    border: none;
    background-color: #222222;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s ease;
}
#AllItems
{
    height: 100vh;
    width: 100%;
    /* background-color: hotpink; */
    position: relative;
}
#MenuSection1
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#MenuSection2
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#MenuSection3
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#subMenuSection1
{
    height: 48%;
    width: 100%;
    /* background-color: turquoise; */
    position: absolute;
    top: 0;
    display: flex;
    /* flex-direction: row; */
}
#subMenuSection2
{
    position: absolute;
    height: 48%;
    width: 100%;
    /* background-color: violet; */
    bottom: 0;
    display: flex;
}
#sub1
{
    width: 50%;
}
#sub2
{
    width: 50%;
}
#div1
{
    height: 80%;
    width: 95%;
    /* background-color: #FFC436; */
    margin: auto;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 0.2px solid gray; */
    margin-top: 5%;
}
#div1:hover
{
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;

}
#div1 img
{
    position: absolute;
    left: 2.5%;
    top: 20%;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
#div2
{
    height: 80%;
    width: 95%;
    /* background-color: #222222; */
    margin: auto;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-left: 10%; */
    margin-top: 5%;
}
#div2:hover
{
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;

}
#div2 img
{
    position: absolute;
    left: 2.5%;
    top: 20%;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.divimg
{
    width: 35%;
}
.divcontent
{
    width: 70%;float:right;
}
.divcontenth1
{
    margin-top:2rem;
}
.divcontentp
{
    margin-top: 1.5rem;color:grey;padding-right:2rem;
}
.divcontentbtn
{
    margin-top: 1.5rem;color:whitesmoke;cursor:pointer;height:2rem;width:6rem;outline:0;border:none;background-color:orangered
}

@media screen and (max-width:600px) 
{
    nav ul
    {
        display: none;
    }
    #hambugger
    {
        display: block;
        margin-right: 5%;
    }
    #cross
    {
        margin-right: 5%;
    }
    #HomeImageContent h2
    {
        font-size: 1.5rem;
        margin-top: 45%;
    }
    #HomeImageContent h1
    {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    #HomeImageContent button
    {
        margin-top: 3rem;
        font-size: 1rem;
    }
    #btnRight
    {
        right: 2.5rem;
        bottom: 8%;
    }
    #btnLeft
    {
        left: 2.5rem;
        bottom: 8%;
    } 
    #aboutSection
    {
        height: 100%;
        width: 100%;
        flex-direction: column;
        /* background-color: black; */
    }
    #about1
    {
        height: 60%;
        width: 100%;
        /* background-color: goldenrod; */
        position: relative;
    }
    #about1 section
    {
        height: 100%;
        width: 95%;
        /* background-color: yellowgreen; */
        position: absolute;
        padding-left: 1rem;
    }
    #about1 section h2
    {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    #about1 section h1
    {
        font-size: 1.5rem;
    }
    #about1 section p
    {
        padding-right: 0.5rem;
        padding-top: 1rem;
        letter-spacing: 1px;
    }
    #about2
    {
        height: 40%;
        width: 100%;
        background-image: url(https://wallpapercave.com/dwp1x/wp9326407.jpg);
    }
    #about3
    {
        height: 30%;
        width: 50%;
        left: 0;
        right: 0;
        margin: auto;
        top: 10rem;
        bottom: 0;
        /* display: none; */
    }

    #Addvertisement
    {
        height: 40vh;
        width: 100%;
        position: relative;
    }
    #Addvertisement div
    {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    #Addvertisement div h1
    {
        font-size: 2rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #Addvertisement div h1 i
    {
        display: none;
    }
    #Addvertisement div h2
    {
        margin-top: 1.5rem;
    }
    #Addvertisement div h3
    {
        font-size: 1.2rem;
    }


    #Menu
    {
        height: 150vh;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }
    #Menu img
    {
        display: none;
    }
    #menuContainer
    {
        height: 150vh;
        width: 100%;
        /* background-color: yellowgreen; */
    }

    #menuNameCard
    {
        height: 45vh;
        /* background-color: #FFC436; */
    }
    #menuNameHeading
    {
        width: 90%;
        /* background-color: violet; */
        padding-top: 2rem;
    }
    #menuNameHeading h1
    {
        font-size: 1.5rem;
    }
    #menuNameHeading h2
    {
        font-size: 1.3rem;
    }
    #menuNameHeading span button:nth-child(3)
    {
        margin-top: 1rem;
    }
    #MenuSection1
    {
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        flex-direction: column;
    }
    #MenuSection2
    {
        width: 100%;
        /* background-color: grey; */
        flex-direction: row;
    }
    #MenuSection3
    {
        width: 100%;
        /* background-color: lawngreen; */
        flex-direction: row;
    }
    #subMenuSection1
    {
        height: 50%;
        width: 100%;
        /* background-color: black; */
        flex-direction: row;
    }
    #subMenuSection2
    {
        height: 50%;
        width: 100%;
        /* background-color: violet; */
        flex-direction: row;
    }
    #sub1
    {
        height: 100%;
        width: 100%;
        /* background-color: teal; */
    }
    #sub2
    {
        height: 100%;
        width: 100%;
        /* background-color: #FFC436; */
    }
    #div1
    {
        height: 85%;
        width: 95%;
        /* background-color: hotpink; */
        margin-top: 5%;
    }
    #div1 img
    {
        position: absolute;
        left: 2.5%;
        top: 20%;
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
    }
    #div2
    {
        height: 85%;
        width: 95%;
        /* background-color: #222222; */
        margin-top: 5%;
    }

#div2 img
{
    position: absolute;
    left: 0%;
    top: 20%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    /* display: none; */
}
.divimg
{
    width: 100%;
    height: 0%;
    /* background-color: yellowgreen; */
}
.divcontent
{
    width: 100%;
    height: 100%;
    /* background-color: #171717; */
}
.divcontenth1
{
    margin-top: 3rem;
    padding-left: .5rem;
    padding-right: 1rem;
}
.divcontenth1 span
{
    display: none;
}
.divcontentp
{
    margin-top: 1rem;color:grey;padding-right:1rem;
    padding-left: 0.5rem;
    text-align: justify;
}
.divcontentbtn
{
    margin-top: 1rem;color:whitesmoke;cursor:pointer;height:2rem;width:6rem;outline:0;border:none;background-color:orangered;margin-left: 0.5rem;
}
}