*
{
    margin: 0;
    padding: 0;
}
html
{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    height: 0;
    width: 0;
}
#goHomeButton
{
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    position: fixed;
    display: none;
    outline: 0;
    border: none;
    background-color: transparent;
}
#goHomeButton i
{
    padding: 0.2rem 0.2rem;
    font-size: 2rem;
    color: orangered;
    transition: 0.5s;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 0.2rem;
}
#goHomeButton i:hover
{
    transform: rotate(360deg);
    background-color: orangered;
    color: whitesmoke;
    border-color: orangered;
}
#nav h1
{
    color: #FFC436;
    line-height: 4rem;
    font-family: Perpetua;
    padding-left: 2rem;
    letter-spacing: 0.2rem;
}
nav
{
    z-index: 10;
    height: 5rem;
    width: 100%;
    background-color: #171717;
    display: flex;
    position: sticky;
    top: 0;
    transition: 0.7s;
}
#hambugger
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 10;
    top: 20;
    cursor: pointer;
    display: none;
}
#cross
{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 10;
    top: 20;
    cursor: pointer;
    display: none;
}
#navLogo
{
    height: 8rem;
    width: 10rem;
    /* border: 5px solid orange; */
    position: absolute;
    top: -30%;
}
nav ul
{
    margin: auto;
    line-height: 5rem;
}
nav ul li
{
    list-style: none;
    text-align: center;
    display: inline-block;
    padding-left: 3rem;
}
ul li a
{
    text-decoration: none;
    color: whitesmoke;
    font-family: Perpetua;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
}
ul li a::before
{
    transition: 300ms;
    content: "";
    height: 0.2rem; 
    bottom: -2;
    width: 0%;  
    position: absolute; 
    background-color: tomato;
    position: absolute;
}
ul li a:hover::before {
    width: 100%;
}

#container
{
    height: 100%;
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#Home
{
    height: 100vh;
    width: 100%;
    /* background-color: violet; */
    position: relative;
}
#imageSlider1
{
    animation: comeRight 0.5s ease-in;
}
#imageSlider2
{
    animation: comeLeft 0.5s ease-in;
}
@keyframes comeRight
{
    0% {
        transform: translateX(1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
@keyframes comeLeft
{
    0% {
        transform: translateX(-1000px);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}
#HomeImageContent
{
    height: 80%;
    width: 80%;
    /* background-color: yellowgreen; */
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
}
#HomeImageContent h2
{
    color: whitesmoke;
    font-size: 2rem;
    font-family: Garamond;   
    letter-spacing: 0.5rem; 
    animation: fade-left 0.5s ease-in;
    margin-top: 15%;
}
@keyframes fade-left 
{
    0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}
#HomeImageContent h1
{
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: Garamond;   
    margin-top: 2rem;
}
#HomeImageContent button
{
    margin-top: 5rem;
    height: 3rem;
    width: 10rem;
    cursor: pointer;
    font-size: 1rem;
    background-color: orangered;
    outline: 0;
    border: none;
    color: whitesmoke;
    font-family: garamond;
    letter-spacing: 0.1rem;
    font-weight: 900;
}
#HomeImageContent button:hover
{
    transition: 0.5s ease-in-out;
    background-color: antiquewhite;
    color: orangered;
}
#btnRight,#btnLeft
{
    position: absolute;
    bottom: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    background: transparent;
    outline: 0;
    border: none;
    font-size: 1.5rem;
    color: whitesmoke;
    border: 2px solid gray;
}
#btnRight
{
    right: 2.5rem;
}
#btnLeft
{
    left: 2.5rem;
} 
#btnRight:hover,#btnLeft:hover
{
    transition: 0.5s;
    color: #90A17D;
}

#About
{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}
#aboutSection
{
    position: absolute;
    height: 80%;
    width: 85%;
    /* background-color: black; */
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
#about1
{
    height: 100%;
    width: 65%;
    /* background-color: goldenrod; */
    position: relative;
}
#about1 section
{
    height: 70%;
    width: 85%;
    /* background-color: yellowgreen; */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 2rem;
}
#about1 section h2
{
    color: orangered;
    font-family: Comic Sans MS;
    font-size: 1.3rem;
}
#about1 section h1
{
    font-size: 2rem;
    font-family: Verdana;
    margin-top: 1%;
}
#about1 section p
{
    padding-right: 7rem;
    padding-top: 2rem;
    color: grey;
}
#about2
{
    height: 100%;
    width: 35%;
    background-color: violet;
    background-image: url(./Images/chicked.jpg);
    background-position: center;
    background-size: cover;
}
#about3
{
    position: absolute;
    height: 60%;
    width: 30%;
    background-color: tomato;
    right: 20%;
    margin: auto;
    top: 0;
    bottom: 0;
}

#Addvertisement
{
    height: 40vh;
    width: 100%;
    position: relative;
}
#addDiv
{
    height: 55%;
    width: 70%;
    margin: auto;
    /* background-color: powderblue; */
    position: absolute;
    bottom:0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
#addH1
{
    color: whitesmoke;font-size:2rem;font-family:Comic Sans MS;margin-top:0.7rem;
}
#addH2
{
    color: orangered;font-family: Comic Sans MS;
}
#addH3
{
    color: white;letter-spacing:2px;margin-top:1rem;
}
#addBtn
{
    height: 3rem;
    width: 10rem;
    margin-top: 2.5rem;
    outline: 0;
    border: none;
    background-color: orangered;
    color: whitesmoke;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 0.7rem;
}
#addBtn:hover
{
    background-color: whitesmoke;
    color: orangered;
}
#Menu
{
    height: 160vh;
    width: 100%;
    background-color: white;
    position: relative;
    /* background-color: yellowgreen; */
    /* background: transparent; */
}
#Menu img
{
    position: absolute;
    right: 0;
    height: 15rem;
}
#menuContainer
{
    height: 150vh;
    width: 100%;
    /* background-color: yellowgreen; */
}
#menuNameCard
{
    height: 50vh;
    width: 100%;
    /* background-color: #FFC436; */
    text-align: center;
}
#menuNameHeading
{
    height: 80%;
    width: 65%;
    /* background-color: violet; */
    margin: auto;
    padding-top: 4rem;
}
#menuNameHeading h1
{
    color: #222222;
    font-size: 2rem;
    font-family: garamond;
    margin-top: 0.5rem;
}
#menuNameHeading h2
{
    color: orangered;
    font-size: 1.5rem;
    font-family: Comic Sans MS;
}
#menuNameHeading span button
{
    height: 3rem;
    width: 8rem;
    margin-top: 2rem;
    margin-right: 1rem;
    font-weight: 500;
    outline: 0;
    border: none;
    background-color: #222222;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.5s ease;
}
#AllItems
{
    height: 100vh;
    width: 100%;
    /* background-color: hotpink; */
    position: relative;
}
#MenuSection1
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#MenuSection2
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#MenuSection3
{
    height: 100%;
    width: 90%;
    /* background-color: blue; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
#subMenuSection1
{
    height: 48%;
    width: 100%;
    /* background-color: turquoise; */
    position: absolute;
    top: 0;
    display: flex;
    /* flex-direction: row; */
}
#subMenuSection2
{
    position: absolute;
    height: 48%;
    width: 100%;
    /* background-color: violet; */
    bottom: 0;
    display: flex;
}
#sub1
{
    width: 50%;
}
#sub2
{
    width: 50%;
}
#div1
{
    height: 80%;
    width: 95%;
    /* background-color: #FFC436; */
    margin: auto;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 0.2px solid gray; */
    margin-top: 5%;
}
#div1:hover
{
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;

}
#div1 img
{
    position: absolute;
    left: 2.5%;
    top: 20%;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
#div2
{
    height: 80%;
    width: 95%;
    /* background-color: #222222; */
    margin: auto;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* margin-left: 10%; */
    margin-top: 5%;
}
#div2:hover
{
    border-left: 5px solid goldenrod;
    border-right: 5px solid goldenrod;

}
#div2 img
{
    position: absolute;
    left: 2.5%;
    top: 20%;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.divimg
{
    width: 35%;
}
.divcontent
{
    width: 70%;float:right;
}
.divcontenth1
{
    margin-top:2rem;
}
.divcontentp
{
    margin-top: 1.5rem;color:grey;padding-right:2rem;
}
.divcontentbtn
{
    margin-top: 1.5rem;color:whitesmoke;cursor:pointer;height:2rem;width:6rem;outline:0;border:none;background-color:orangered
}
#OfferAdvertisement
{
    height: 40vh;
    width: 100%;
    background-color:#171717 ;
}

#chefSection
{
    height: 100vh;
    width: 100%;
    /* background-color: yellowgreen; */
}
#chefHeader
{
    height: 30%;
    width: 100%;
    /* background-color:#FFC436; */
    text-align: center;
    position: relative;
}
#chefHeader h2
{
    font-size: 1.5rem;
    color: goldenrod;
    font-family: Comic Sans MS;
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
}
#chefHeader h1
{
    font-size: 2.5rem;
    color: #222222;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} 
#chefImageDiv
{
    height: 70%;
    width: 100%;
    /* background-color: violet; */
    position: relative;    
}
#ImageDiv
{
    height: 75%;
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
#sec1
{
    height: 90%;
    width: 23%;
    background-color: white;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s ease;
}
#sec1:hover
{
    background-position: center;
    background-size: cover;
    background-color: #171717;
}
#sec1:hover #ImageSection img
{
    border: 5px solid orange
}
#sec1:hover #name
{
    color: white;
}
#sec1:hover #nameAbt
{
    color: white;
}
#sec1:hover #city
{
    color: orange;
}
#ImageSection
{
    height: 45%;
    width: 100%;
    /* background-color: #FFC436; */
    display: flex;
    border-radius: 0.5rem;
}
#ImageSection img
{
    height: 70%;
    width: 40%;
    border-radius: 50%;
    border: 5px solid gray;
    margin: auto;
    transition: 0.2s ease;
}
#ContentSection
{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#name
{
    padding-top: 5%;
    font-family: Oldtown;
    color: black;
    transition: 0.5s;
}
#city
{
    padding-top: 3%;
    font-family: Corbel;
    color: gray;
    transition: 0.3s;
}
#nameAbt
{
    padding-top: 10%;
    font-family: Corbel;
    color: gray;
}

#bookingTable
{
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    overflow: hidden;
}
#bookingWallImage
{
    position: absolute;
    height: 45%;
    width: 25%;
    right: -3%;
    top: 6%;
    transform: rotate(270deg);
}
#imageHolder
{
    height: 100%;
    width: 45%;
    /* background-color: #222222; */
    display: flex;
}
#imgFull
{
    height: 75%;
    width: 100%;
    margin: auto;
}
#formHolder
{
    height: 100%;
    width: 55%;
    /* background-color: violet; */
    display: flex;
    z-index: 2;
}
#formDiv
{
    height: 75%;
    width: 90%;
    margin: auto;
}
#formContent h2
{
    font-family: Comic Sans MS;
    color: orangered;
    font-size: 1.3rem;
    margin-top: 5%;
}
#formContent p
{
    font-family: garamond;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2%;
}
#textDiv
{
    height: 75%;
    /* background-color: #171717; */
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
#formSpan1
{
    height: 60%;
    width: 50%;
    /* background-color:wheat; */
    padding-top: 5%;
}
#formSpan1 label
{
    margin-bottom: 5%;
}
input
{
    height: 25%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    outline: 0;
    border: 1px solid grey;
    background: transparent;
    margin-top: 3%;
    color: gray;
    font-size: 0.8rem;
}
input::placeholder
{
    color: gray;
}
#formSpan2
{
    height: 60%;
    width: 50%;
    /* background-color:palegreen; */
    padding-top: 5%;
}
#textDiv button
{
    position: absolute;
    left: 0;
    bottom: 15%;
    height: 3rem;
    width: 10rem;
    background-color: orangered;
    outline: 0;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
#textDiv button:hover
{
    background-color:#222222
}
#subContentText
{
    position: absolute;
    bottom: 17%;
    right: 10%;
    font-size: 0.9rem;  
    letter-spacing: 1.5px;
    color: gray;
}
#subContentText p:nth-child(1)
{
    font-family: Comic Sans MS;
    color: orangered;
}

#commentSection
{
    height: 100vh;
    width: 100%;
    /* background-color: yellowgreen; */
    position: relative;
}
#commentHeading
{
    height: 30%;
    width: 100%;
    text-align: center;
    /* background-color: wheat; */
    position: absolute;
}
#commentHeading h2
{
    color: orangered;
    font-family: Comic Sans MS;
    font-size: 1.2rem;
    margin-top: 5%;
}
#commentHeading p
{   
   font-size: 2rem; 
   font-weight: 900;
   letter-spacing: 2px;
   color: black;
   margin-top: 1%;
}
#commentSubSection
{
    bottom: 0;
    height: 70%;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
    display: flex;
}
#commentImageSection
{
    height: 80%;
    width: 40%;
    /* background-color: violet; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#commentContentSection
{
    height: 80%;
    width: 45%;
    /* background-color:chartreuse; */
    margin: auto;
    display: flex;
}
#imgCard
{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    /* padding: 1rem 1rem; */
    margin: 0.5rem 1rem;
    border: 4px solid grey;
    transition: 0.5s;
    cursor: pointer;
}
#imgCard:hover
{
    border: 4px solid orange;
}
#customer1,#customer2,#customer3,#customer4,#customer5
{
    height: 80%;
    width: 90%;
    /* background-color: thistle; */
    margin: auto;
}
#custPara
{
    font-size: 1rem;
    color: gray;
    font-family: Corbel;
    text-align: justify;
}
#custName
{
    color: black;
    margin-top: 5%;
    font-family: corbel;
    transition: 0.5s ;
}
#custCity
{
    color: gray;
    margin-top: 1%;
    font-family: corbel;
    font-size: 1rem;
}

#footerSection
{
    height: 70vh;
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
}
#footerBackground
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform: rotate(180deg); */
    margin: auto;
    filter: brightness(15%);
}
#footerContent
{
    height: 80%;
    width: 80%;
    /* background-color: yellowgreen; */
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}
#footSec1,#footSec2,#footSec3
{
    height: 80%;
    width: 24%;
    /* background-color: violet; */
    margin: auto;
    color: lavender;
    font-family: corbel;

}
#footSec1
{
    display: flex;
}
#footSec2
{
    width: 30%;
}
#footSec1 img
{
    height: 80%;
    width: 80%;
    /* margin: auto; */
}
.foodAdress
{
    padding-left: 5%;
    font-family: corbel;
    margin-top: 5%;
}
.footMail
{
    padding-top: 15%;
    padding-left: 5%;
    font-family: corbel;
}
.footContact
{
    font-family: corbel;
    padding-left: 5%;
    padding-top: 2.5%;
}
#footIconSection
{
    padding-left: 5%;
}
#footIconSection i
{
    font-size: 1rem;
    margin-top: 15%;
    margin-left: 2%;
    color: #222222;
    background-color: white;
    border-radius: 50%;
    padding: 0.6rem;
    transition: 0.5s ease-in;  
    cursor: pointer; 
}
#footIconSection i:hover
{
    background-color: black;
    color: whitesmoke;
}
#footSec3 h1
{
    padding-left: 15%;
    padding-top: 5%;
    font-size: 1.5rem;
}
#footerul
{
    padding-top: 10%;
    padding-left: 15%;
}
#footerLi
{
    list-style: none;
    padding-top: 4%;
    cursor: pointer;
}
#footerLi:hover
{
    color: orange;
}
/* ///////////////------------------- Media Query starts from here ------------------ ////////////////////// */

@media screen and (max-width:600px) 
{
    nav ul
    {
        display: none;
    }
    #hambugger
    {
        display: block;
        margin-right: 5%;
    }
    #cross
    {
        margin-right: 5%;
    }
    #HomeImageContent h2
    {
        font-size: 1.5rem;
        margin-top: 45%;
    }
    #HomeImageContent h1
    {
        font-size: 2rem;
        margin-top: 1.5rem;
    }
    #HomeImageContent button
    {
        margin-top: 3rem;
        font-size: 1rem;
    }
    #btnRight
    {
        right: 2.5rem;
        bottom: 8%;
    }
    #btnLeft
    {
        left: 2.5rem;
        bottom: 8%;
    } 
    #aboutSection
    {
        height: 100%;
        width: 100%;
        flex-direction: column;
        /* background-color: black; */
    }
    #about1
    {
        height: 60%;
        width: 100%;
        /* background-color: goldenrod; */
        position: relative;
    }
    #about1 section
    {
        height: 100%;
        width: 95%;
        /* background-color: yellowgreen; */
        position: absolute;
        padding-left: 1rem;
    }
    #about1 section h2
    {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    #about1 section h1
    {
        font-size: 1.5rem;
    }
    #about1 section p
    {
        padding-right: 0.5rem;
        padding-top: 1rem;
        letter-spacing: 1px;
    }
    #about2
    {
        height: 40%;
        width: 100%;
    }
    #about3
    {
        height: 30%;
        width: 50%;
        left: 0;
        right: 0;
        margin: auto;
        top: 10rem;
        bottom: 0;
        /* display: none; */
    }

    #Addvertisement
    {
        height: 35vh;
        width: 100%;
        position: relative;
    }
    #addDiv
    {
        height: 100%;
        width: 100%;
        text-align: center;
    }
    #addH1
    {
        font-size: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    #Addvertisement div h1 i
    {
        display: none;
    }
    #addH2
    {
        margin-top: 1.5rem;
    }
    #addH3
    {
        font-size: 1.2rem;
    }
    #addBtn
    {
        margin-top: 1.5rem;
    }

    #Menu
    {
        height: 150vh;
        width: 100%;
        /* background-color: blue; */
        position: relative;
    }
    #Menu img
    {
        display: none;
    }
    #menuContainer
    {
        height: 150vh;
        width: 100%;
        /* background-color: yellowgreen; */
    }

    #menuNameCard
    {
        height: 45vh;
        /* background-color: #FFC436; */
    }
    #menuNameHeading
    {
        width: 90%;
        /* background-color: violet; */
        padding-top: 2rem;
    }
    #menuNameHeading h1
    {
        font-size: 1.5rem;
    }
    #menuNameHeading h2
    {
        font-size: 1.3rem;
    }
    #menuNameHeading span button:nth-child(3)
    {
        margin-top: 1rem;
    }
    #MenuSection1
    {
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        flex-direction: column;
    }
    #MenuSection2
    {
        width: 100%;
        /* background-color: grey; */
        flex-direction: row;
    }
    #MenuSection3
    {
        width: 100%;
        /* background-color: lawngreen; */
        flex-direction: row;
    }
    #subMenuSection1
    {
        height: 50%;
        width: 100%;
        /* background-color: black; */
        flex-direction: row;
    }
    #subMenuSection2
    {
        height: 50%;
        width: 100%;
        /* background-color: violet; */
        flex-direction: row;
    }
    #sub1
    {
        height: 100%;
        width: 100%;
        /* background-color: teal; */
        position: relative;
    }
    #sub2
    {
        height: 100%;
        width: 100%;
        /* background-color: #FFC436; */
    }
    #div1
    {
        height: 85%;
        width: 95%;
        /* background-color: hotpink; */
        margin-top: 5%;
        background-image: url(./Images/dishBackground.jpeg);
        background-position: center;
        background-size: cover;
    }
    #div2
    {
        height: 85%;
        width: 95%;
        /* background-color: #222222; */
        margin-top: 5%;
        background-image: url(./Images/dishBackground.jpeg);
        background-position: center;
        background-size: cover;
    }
    .divimg
    {
        width: 100%;
        height: 0%;
        /* background-color: yellowgreen; */
    }
    .divcontent
    {
        width: 100%;
        height: 100%;
        /* background-color: #171717; */
    }
    .divcontenth1
    {
        margin-top: 3rem;
        padding-left: .5rem;
        padding-right: 1rem;
        color: goldenrod;
        opacity: 0.8;
    }
    .divcontenth1 span
    {
        display: none;
    }
    .divcontentp
    {
        margin-top: 1rem;color:grey;padding-right:1rem;
        padding-left: 0.5rem;
        text-align: justify;
    }
    .divcontentbtn
    {
        margin-top: 1rem;color:whitesmoke;cursor:pointer;height:2rem;width:6rem;outline:0;border:none;background-color:orangered;margin-left: 0.5rem;
    }


    #chefSection
    {
        height: 200vh;
        /* background-color: yellowgreen; */
    }
    #chefHeader
    {
        height: 10%;
        /* background-color:#FFC436; */
    }
    #chefHeader h2
    {
        font-size: 1.2rem;
        top: 20%;
    }
    #chefHeader h1
    {
        font-size: 2rem;
        top: 45%
    } 
    #chefImageDiv
    {
        height: 90%;
        /* background-color: violet; */
    }
    #ImageDiv
    {
        height: 100%;
        width: 100%;
        /* background-color: aqua; */
        flex-direction: column;
    }
    #sec1
    {
        height: 24%;
        width: 90%;
        background-color: white;
    }
    #ImageSection img
    {
        width: 30%;
    }
    #ContentSection
    {
        height: 55%;
        /* background-color: brown; */
    }
    #name
    {
        font-size: 1.3rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #city
    {
        padding-top: 3%;
        font-size: 1.1rem;
    }
    #nameAbt
    {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #bookingTable
    {
        height: 100vh;
        /* background-color: lightsalmon; */
        display: flex;
    }
    #bookingWallImage
    {
        display: none;
    }
    #imageHolder
    {
        display: none;
    }
    #formHolder
    {
        width: 90%;
        /* background-color: violet; */
        display: flex;
        margin: auto;
        z-index: 0;
    }
    #formDiv
    {
        height: 100%;
        width: 100%;
        /* background-color: #FFC436; */
    }
    #formContent h2
    {
        text-align: center;
    }
    #formContent p
    {
        font-size: 1.7rem;
        margin-top: 2%;
        text-align: center;
    }
    #textDiv
    {
        height: 100%;
        /* background-color: #171717; */
        width: 100%;
        flex-direction: column;
    }
    #formSpan1
    {
        height: 35%;
        width: 100%;
        /* background-color:wheat; */
        padding-top: 5%;
    }
    input
    {
        height: 25%;
        width: 100%;
        margin-top: 5%;
        font-size: 1rem;
    }
    #formSpan2
    {
        height: 35%;
        width: 100%;
        /* background-color:palegreen; */
        padding-top: 5%;
    }
    #textDiv button
    {
        bottom: 17.5%;
    }
    #subContentText
    {
        bottom: 13%;
        left: 1%;
    }
    #subContentText p:nth-child(2)
    {
        font-family: Comic Sans MS;
        display: none;
    }
    #commentSection
    {
        height: 100vh;
        /* background-color: yellowgreen; */
        margin-top: 5%;
    }
    #commentHeading
    {
        height: 12%;
        /* background-color: wheat; */
    }
    #commentHeading p
    {   
    font-size: 1.5rem; 
    margin-top: 2%;
    }
    #commentSubSection
    {
        height: 88%;
        /* background-color: aqua; */
        flex-direction: column;
    }
    #commentImageSection
    {
        height: 40%;
        width: 95%;
        /* background-color: violet; */
        padding-top: 10%;
    }
    #commentContentSection
    {
        height: 60%;
        width: 95%;
        /* background-color:chartreuse; */
        margin: auto;
        display: flex;
    }
    #imgCard
    {
        height: 4rem;
        width: 4rem;
        margin: 0.5rem 0.9rem;
        border: 4px solid grey;
        transition: 0.5s;
        cursor: pointer;
    }
    #imgCard:nth-child(1){height: 6rem;width: 6rem;}
    #imgCard:nth-child(2){height: 6rem;width: 6rem;}

    #imgCard:hover
    {
        border: 4px solid orange;
    }
    #customer1,#customer2,#customer3,#customer4,#customer5
    {
        height: 80%;
        width: 90%;
        /* background-color: thistle; */
        margin: auto;
    }
    #custPara
    {
        font-size: 1rem;
        color: gray;
        font-family: Corbel;
        text-align: justify;
    }
    #custName
    {
        color: black;
        margin-top: 5%;
        font-family: corbel;
        transition: 0.5s ;
    }
    #custCity
    {
        color: gray;
        margin-top: 1%;
        font-family: corbel;
        font-size: 1rem;
    }

    #footerSection
    {
        height: 30vh;
    }
    #footerBackground
    {
        filter: brightness(10%);
    }
    #footerContent
    {
        height: 80%;
        width: 100%;
        /* background-color: yellowgreen; */
    }
    #footSec1,#footSec2,#footSec3
    {
        width: 25%;
        /* background-color: violet; */
    }
    #footSec1
    {
        width: 20%;
        display: flex;
    }
    #footSec2
    {
        width: 40%;
    }
    #footSec1 img
    {
        height: 70%;
        width: 90%;
    }
    .foodAdress
    {
        padding-left: 2%;
        /* margin-top: 15%; */
    }
    .footMail
    {
        display: none;
    }
    .footContact
    {
        padding-left: 2%;
        padding-top: 10%;
        display: none;
    }
    #footIconSection
    {
        padding-left: 2%;
    }
    #footIconSection i
    {
        font-size: 0.6rem;
        margin-top: 15%;
        margin-left: 0%;
        padding: 0.4rem;
    }
    #footSec3 h1
    {
        /* padding-top: 20%; */
        font-size: 1rem;
    }
    #footerLi
    {
        padding-top: 2%;
        font-size: 0.7rem;
    }
}